<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>geolocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">geolocation</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-header>
  <ion-toolbar>
    <ion-title>
      Geolocalización
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="printCurrentPosition()">Obtener posición actual</ion-button>
  <ion-button (click)="startWatch()">Comenzar seguimiento</ion-button>
  <ion-button (click)="stopWatch()">Detener seguimiento</ion-button>

  <div *ngIf="currentPosition">
    <h3>Posición actual:</h3>
    <p>Latitud: {{ currentPosition.latitude }}</p>
    <p>Longitud: {{ currentPosition.longitude }}</p>
  </div>
  
</ion-content>