<ion-content color="light" class="ion-padding">
  

<ion-content class="ion-padding">
  <h1>PetDate</h1>

  <img src="https://o.remove.bg/downloads/ce747679-0956-4f53-8916-6cd41cfd55d2/png-transparent-dog-paw-cat-footprint-gray-footprints-miscellaneous-angle-white-thumbnail-removebg-preview.png" alt="">
  
  <h3>Login</h3>
  

  <ion-input label="Usuario" labelPlacement="floating" [counter]="true"  minlength="3" maxlength="8"></ion-input>
  <ion-input label="Contraseña" labelPlacement="floating" [counter]="true" type="password" value="password" maxlength="4"></ion-input>
  <ion-button [routerLink]="['/home']" expand="full">Ingresar</ion-button>
  <ion-button [routerLink]="['/home']" expand="full">Registrarse</ion-button>
  
</ion-content>