<ion-header>
  <ion-toolbar>
    <ion-title>DM</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <img src="https://i.blogs.es/808765/dpoty-puppy-2nd--c--tracy-kirby-the-kennel-club-2/1366_2000.jpg" />
      <h1>Oppenheimer</h1>
    </ion-card-content>
  </ion-card>


  <div class="card">
    <div class="card-header">Chat</div>
  </div>

</ion-content>

<ion-footer>
  <div class="card-footer">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ingrese su mensaje">
      <ion-button fill="clear"><ion-icon name="paper-plane-outline"></ion-icon></ion-button>
    </div>
  </div>
</ion-footer>