<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add']"><ion-icon name="create"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>Leia</h1>
  <img src="https://img.freepik.com/foto-gratis/pug-descansa-sobre-parquet-natural-perro-cansado-fregonas-yace-suelo-vista-superior_231208-7824.jpg?w=740&t=st=1693933417~exp=1693934017~hmac=d7ec56b91f8c8156ddaca1eb69e619b411e3fbe2c2fe07c337b47657bc223fd5"/>

  <p>Hola! Mi nombre es <strong>Leia.</strong> <br>Busco parajea que sea perrito de raza pug para tener crias. Me gusta jugar y moder los pies a mis amos
    <br>Raza: Sin Raza
    <br>
    Edad: 3 años
    <br>
    Ubicacion: Conchali
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [routerLink]="['/home']" fill="clear"><ion-icon name="paw"></ion-icon></ion-button>
    <ion-button [routerLink]="['/dm']" fill="clear"><ion-icon name="chatbubble-ellipses"></ion-icon></ion-button>
    <ion-button [routerLink]="['/profile']" fill="clear"><ion-icon name="person"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>