<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Oppenheimer</h1>
  <img src="https://i.blogs.es/808765/dpoty-puppy-2nd--c--tracy-kirby-the-kennel-club-2/1366_2000.jpg"/>
  <h3>Descripción:</h3>
  <p>Hola! Mi nombre es <strong>Oppenheimer.</strong> <br>Me gusta jugar, dormir y que me saquen al parque. <br>Nací el 12 de julio del 2020.
  </p>

  <ion-button [routerLink]="['/home']" fill="clear"><ion-icon name="paw"></ion-icon></ion-button>
  <ion-button [routerLink]="['/dm']" fill="clear"><ion-icon name="chatbubble-ellipses"></ion-icon></ion-button>
  <ion-button [routerLink]="['/profile']" fill="clear"><ion-icon name="person"></ion-icon></ion-button>
</ion-content>
