<ion-header>
  <ion-toolbar>
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Bienvenido!</h1>
  <p>Maximo Fuentes</p>
  <h3>Información adicional</h3>

  <ion-list>
    <ion-list>
      <ion-item>
        <ion-input label="Nombre" placeholder="Ingrese nombre"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-input label="Apellido" placeholder="Ingrese apellido"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-select label="Nivel educacional" placeholder="Seleccione nivel">
          <ion-select-option value="basica">Básica</ion-select-option>
          <ion-select-option value="media">Media</ion-select-option>
          <ion-select-option value="superior">Superior</ion-select-option>
        </ion-select>
      </ion-item>    
    </ion-list>
  </ion-list>
  <ion-button>Limpiar</ion-button>
  <ion-button>Mostrar</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por Maxloon</ion-title>
  </ion-toolbar>
</ion-footer>