<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>PetDate</h1>

  <img src="https://o.remove.bg/downloads/666042fe-69a5-449c-8268-5f40ad5a0abb/png-transparent-dog-paw-cat-footprint-gray-footprints-miscellaneous-angle-white-thumbnail-removebg-preview.png" alt="">

  <h3>Registrarse</h3>

  <ion-input label="Correo" labelPlacement="floating" [counter]="true"  minlength="3" maxlength="8"></ion-input>
  <ion-input label="Contraseña" labelPlacement="floating" [counter]="true" type="password" value="password" maxlength="4"></ion-input>
  
  <ion-button [routerLink]="['/home']" expand="full">Login</ion-button>
  <ion-button [routerLink]="['/register']" expand="full">Registrarse</ion-button>
</ion-content>
