<ion-content class="ion-padding">
  <h1>PetDate</h1>

  <img src="https://o.remove.bg/downloads/666042fe-69a5-449c-8268-5f40ad5a0abb/png-transparent-dog-paw-cat-footprint-gray-footprints-miscellaneous-angle-white-thumbnail-removebg-preview.png" alt="">

  <h3>Registrarse</h3>

  <ion-input label="Nombre" labelPlacement="floating" [counter]="true"  minlength="3" maxlength="8"></ion-input>
  <ion-input label="Correo" labelPlacement="floating" [counter]="true" maxlength="20"></ion-input>
  <ion-input label="Contraseña" labelPlacement="floating" [counter]="true" type="password" value="password" maxlength="4"></ion-input>
  <ion-button [routerLink]="['/login']" expand="full">Login</ion-button>
  <ion-button expand="full">Enviar</ion-button>
</ion-content>
